// Color Palette
$background: #E8F2F7;
$white: #fff;
$black: #24242a;
$darkBlueColor: #1B2136;
$midBlueColor: #152532;
$darkWarningColor: #FAAB0D;
$sunWarningColor: #FED97D;
$lightWarningColor: #F1E1CC;
$lightSecondaryColor: #F5F5F5;

// Gradient colorPalette
// $lightBlueWithSunGradient: radial-gradient(50% 50% at 49.97% 50%, #FAAB0D 0%, #E8F2F7 100%);
$lightBlueWithSunGradient: radial-gradient(circle, rgba(250,171,13,1) 0%, rgba(232,242,247,1) 50%);

// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

/** Default max width vtex checkout */
$maxWidth: 1170px;












$primaryColor: #f71963;
$secondaryColor: #383938;
$accentColor: #2c7efd;
$labelColor: #717585;
$textColor: #26272c;
$borderColor: #d3d4d9;
$backgroundColor: #f9f9fb;
$lightGrayColor: #e5e5e5;
$darkGrayColor: #424242;
$backgroundInputColor: #eff0f7;
$successColor: #8bc34a;
$dangerColor: #ff2319;
$infoColor: #368df7;


$smartphones: 'only screen and (max-width: 579px)';
$smartphones_h: 'only screen and (min-device-width : 414px) and (max-device-width : 768px) and (orientation : landscape)';
$tablets: 'only screen and (min-width: 768px) and (max-width: 959px)';
$tablets_h: 'only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)';




