.main-container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;

    .hill-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transform: translate(20%, 0%);

        #hill {
            position: absolute;
            z-index: 99;
            width: 110%;
            scale: 0.8;
            transform: translate(0%, -10%);

            @media (min-width: 762px) {
                width: 85%;
                scale: 1;
                transform: translate(5%, -10%);
            }
            @media (min-width: 992px) {
                width: 60%;
                scale: 1.2;
                transform: translate(5%, -0%);
            }
            @media (min-width: 1200px) {
                width: 40%;
                scale: 1.8;
                transform: translate(15%, 10%);
            }
        }

        .sun-container {
            width: 80%;
            height: 60vw;
            position: absolute;
            z-index: 98;
            transform: translate(15%, 5%);
            background: transparent;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: layerupanim 2.5s ease-in-out infinite alternate;

            @media (min-width: 762px) {
                width: 60%;
                transform: translate(25%, -10%);
            }
            @media (min-width: 992px) {
                width: 60%;
                transform: translate(20%, -13%);
            }
            @media (min-width: 1200px) {
                width: 50%;
                transform: translate(40%, -23%);
            }

            @keyframes layerupanim {
                from {
                    scale: 1.1;
                }
                to {
                    scale: 1.2;
                }
            }
            .sun-fade {
                position: absolute;
                width: 80%;
                height: 500px;
                z-index: 99;
                background: transparent;
                border-radius: 50%;
                background: radial-gradient(circle, rgba(250, 171, 13, 1) 10%, transparent 65%);

                @media (min-width: 1200px) {
                    width: 100%;
                }
            }
            .sun-ellipse {
                width: 50px;
                height: 50px;
                z-index: 99;
                transform: translate(45%, 0%);
                background: transparent;
                border-radius: 50%;
                background: radial-gradient(
                    83.77% 83.77% at -9.74% 8.44%,
                    rgba(254, 217, 125, 0.79) 18.65%,
                    #fa8d0d 80.2%
                );
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                @media (min-width: 992px) {
                    width: 60px;
                    height: 60px;
                }
                @media (min-width: 1200px) {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }

    #layer-0 {
        position: absolute;
        top: 5vh;
        z-index: 1;
        width: 100vw;
        height: calc(100vh - 100px);
        z-index: 15;
        transform: perspective(330px) rotateX(60deg);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, #3da0f666 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c47ff', endColorstr='#ff47ff', GradientType=0 );
        animation: layercorneranim 10s ease-in-out infinite alternate;

        @media (min-width: 562px) {
            top: 25vh;
            height: calc(75vh - 100px);
            transform: perspective(230px) rotateX(60deg);
        }
        @media (min-width: 992px) {
            top: 35vh;
            height: calc(75vh - 100px);
            transform: perspective(230px) rotateX(60deg);
        }
        @media (min-width: 1200px) {
            top: 42vh;
            height: calc(60vh - 100px);
            transform: perspective(165px) rotateX(60deg);
        }

        @keyframes layercorneranim {
            from {
                scale: 1.1;
            }
            to {
                scale: 1.2;
            }
        }

        #layer-1 {
            background: linear-gradient(45deg, rgb(166, 72, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
            height: inherit;
            width: inherit;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -5;

            #layer-2 {
                background: linear-gradient(
                    135deg,
                    rgba(4, 71, 172, 0) 0%,
                    rgba(19, 90, 243, 0) 50%,
                    rgb(0, 73, 122) 100%
                );
                height: inherit;
                width: inherit;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                z-index: -5;

                #lines {
                    background-size: 40px 40px;
                    background-image: repeating-linear-gradient(
                            0deg,
                            #ff9500,
                            #fed97d 2px,
                            transparent 1px,
                            transparent 40px
                        ),
                        repeating-linear-gradient(-90deg, #ff9500, #fed97d 2px, transparent 2px, transparent 40px);
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -4;

                    #layer-corner {
                        background: linear-gradient(
                            to bottom,
                            #011b36 0%,
                            rgba(96, 130, 223, 0) 54%,
                            rgba(117, 24, 240, 0) 100%
                        );
                        height: inherit;
                        width: inherit;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: -5;
                    }
                }
            }
        }
    }
}


#scrollTxt {
    font-weight: 900;
    position: absolute;
    left: 0;
    z-index: 9999;
    font-size: 8vmin;
    color: $lightWarningColor;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    transform: translate(-40%, 5%);
    // transform: rotateY(-21deg);
    background: rgba(0, 0, 0, 0.363);
    padding-top: 10vh;
    height: auto;
    perspective: 800px;

    #wall-txt {
        transform:rotateX(-10deg) rotateY(71deg)!important;
        display: flex;
        z-index: 9999;
        transform-style: preserve-3d;
    }
    p {
        width: 30%;
        height: auto;
        transform-style: preserve-3d;
    }
}
